<li>
  <form id="search-form">
    <input type="text" id="search-query" class="st-default-search-input">
  </form>
</li>
<li><a href="<%- url_for('guide/') %>" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">Руководство</a></li>
<li><a href="<%- url_for('api/') %>" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">Документация API</a></li>
<li><a href="<%- url_for('examples/') %>" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">Примеры</a></li>
<li><a href="<%- url_for('blog/') %>" class="nav-link<%- (page.path.match(/blog/) || is_post()) ? ' current' : '' %>">Блог (en)</a></li>
<li><a href="https://github.com/yyx990803/vue" target="_blank" class="nav-link">GitHub</a></li>
